<section class="banner" style="background-image: url('<%= image_url("landing-bg.png") %>');">
  <div class="container">
    <div class="navbar">
      <%= image_tag 'logo-full.png' %>
    </div>
    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-xs-12 col-sm-9">
        <h1>Simplifiez la gestion de votre CSE</h1>
        <p>Clan vous permet d'automatiser la gestion de votre CSE</p>
      </div>
    </div>
  </div>
</section>
