.access-section-form {
  margin-top: 30px;
  .access-form-inputs {
    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  #email, #submit {
    padding: 16px;
    font-size: 16px;
    border-radius: 100px;
    border: 1px solid #f7618b;
  }
  #email {
    min-width: 400px;
    border: solid 1px $red;
    color: $dark-blue;
    @media (max-width: 768px) {
      min-width: 100%;
      margin-bottom: 10px;
    }
  }
  #submit {
    background-color: $red;
    border: solid 1px $red;
    color:white;
    @media (max-width: 768px) {
      min-width: 100%;
      margin-bottom: 10px;
    }
  }
}
